.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    /*background-color: white;*/
    max-width: 75%;
    margin: auto;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: rgb(249,239,229);
}

body {
    font-family: 'Raleway', sans-serif;
}

p {
    color: coral;
    margin: 10px;
    padding: 10px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    padding: 10px;
}

.back {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    max-width: 75%;
}